
                        /*GENERAL*/

body {
	margin: 0;
	padding: 0;
}

header {
	display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}

li {
	list-style-type: none;
}

ul {
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

                        /*Icofont*/

.icofont-compass-alt {
	color: #FF4A52;
}

.icofont-play-alt-1 {
	color: #1ec6b6;
}

.icofont-ui-message {
	color: #8A8A8C;
}

.icofont-ipad {
	color: #8A8A8C;
}

.icofont-home {
	color: #8A8A8C;
}

                    /*HEADER*/

.header-area {
	left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 9;
    position: relative;
}

.header-area .main {
    padding: 30px 20px;
}

.header-area .main {
	background: #fff;
    background: 0 0;
    padding: 25px 100px 25px 35px;
}

.header-area .main .main-manu {
	padding: 12px 0;
    position: relative;
}

.header-area .main .main-manu ul li {
	display: inline-block;
    position: relative;
    margin: 0 35px 0 0;
}

.header-area .main .main-manu ul li a {
	color: #040e27;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 0;
    font-family: rubik,sans-serif;
    position: relative;
    text-transform: capitalize;
    transition: .4s;
}

.header-area .main .main-manu ul li a:hover {
	color: teal;
	transition: .5s;
}

.header-area .main .main-manu ul li:first-child a {
	padding-left: 0;
}

.header-area .social .number {
	margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #eaeaea;
}

.header-area .social .number p {
	font-size: 14px;
	margin-top: 11px;
}

.header-area .social .number p i {
	color: #ff4a52;
    font-size: 16px;
    margin-right: 5px;
}

.header-area .social .social-links {
	margin-right: 4px;
}

.header-area .social .social-links li {
	display: inline-block;
}

.header-area .social .social-links li a {
	display: inline-block;
    color: #aab1b7;
    font-size: 16px;
    margin: 0 11px;
    transition: .4s;

}

.header-area .social .social-links li a:hover {
	transition:  .4s;
	color: #ff4a52;
}


.header-area .search {
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    background: #ff4a52;
    width: 100px;
}

.header-area .search a {
	text-align: center;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}

.header-area .search a i {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.modal-backdrop {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.m_search .modal-content .serch_form input {
	width: 100%;
    height: 70px;
    background: #fff;
    border: none;
    padding-left: 20px;
    color: #000;
    font-size: 15px;
    padding-right: 120px;
}

.m_search .modal-content .serch_form button {
	position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    height: 100%;
    padding: 20px;
    color: #fff;
    background: #ff4a52;
    display: inline-block;
    border: none;
    line-height: 50px;
    height: 70px;
    padding: 0 30px;
    cursor: pointer;
}

                    /*SLIDER - HERO*/

.slider_bg_1 {
	background-image: url(../img/Indonesia.png);
}

.slider_bg_2 {
	background-image: url(../img/Australia.png);

}

.slider_bg_3 {
	background-image: url(../img/Switzerland.png);
}

.slider_bg_4 {
	background-image: url(../img/road.png);
}

.slider_bg_5 {
	background-image: url(../img/forests.png);
}

.slider_bg_6 {
	background-image: url(../img/contact.png);
}

.slider_area {
	position: relative;
	z-index: 0;
}

.slider_area .single_slider {
	height: 650px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider_area .single_slider .slider_text h3 {
	font-size: 120px;
	font-family: nothing you could do,cursive;
	font-weight: 400;
	line-height: .5;
	color: #fff;
	margin-bottom: 0;
}

.slider_area .single_slider .slider_text p {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-top: 33px;
	margin-bottom: 50px;
}

                /*BUTTONS*/

.btn1{
	background-color: #1ec6b6;
    color: #fff;
    display: inline-block;
    padding: 18px 41px;
    font-family: rubik,sans-serif;
    font-size: 16px;
    font-weight: 800;
    border: 0;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    transition: .3s;
    cursor: pointer;
}

.btn1:hover {
	color: #fff;
	background-color: #ff4a52;
    transition: .3s;
}

.btn2{
	background-color: #1ec6b6;
    color: #fff;
    display: inline-block;
    padding: 18px 41px;
    font-family: rubik,sans-serif;
    font-size: 16px;
    font-weight: 800;
    border: 0;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    transition: .3s;
    cursor: pointer;
}

.btn2:hover {
	color: #fff;
	background-color: #ff4a52;
    transition: .3s;

}

.btn3{
	background-color: #1ec6b6;
    color: #fff;
    display: inline-block;
    padding: 18px 41px;
    font-family: rubik,sans-serif;
    font-size: 16px;
    font-weight: 800;
    border: 0;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    transition: .3s;
    cursor: pointer;
}

.btn3:hover {
	color: #fff;
	background-color: #ff4a52;
    transition: .3s;

}

.btn4 {
    background: #ff4a52;
    color: #fff;
    display: inline-block;
    padding: 13px 39px;
    font-family: rubik,sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    transition: .3s;
    cursor: pointer;
}

.btn4:hover {
    color: #fff;
    background-color: #1ec6b6;
    transition: .3s;

}

                      /*MAIN*/

.where_togo_area {
	background-color: #040e27;
	padding: 50px 0;
}

.where_togo_area .form_area h3 {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	margin-bottom: 0;
}

.where_togo_area .search_wrap .input_field {
	margin-right: 10px;
	float: left;
	width: 220px;
}

.where_togo_area .search_wrap .input_field input {
	float: left;
	width: 100%;
    height: 50px;
    background: 0 0;
    border: 1px solid #363e52;
    padding-left: 15px;
    border-radius: 5px;
    color: #aab1b7;
}

.where_togo_area .search_wrap .input_field select {
	width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #aab1b7;
    font-weight: 300;
    background: 0 0;
    border: 1px solid #363e52;
}

.popular_destination_area {
	padding-top: 140px;
	padding-bottom: 120px;
}

.section_title {
	margin-bottom: 60px;
}

.section_title h3 {
	font-size: 38px;
    font-weight: 400;
    color: #040e27;
    position: relative;
    padding-bottom: 7px;
}

.section_title p {
	font-size: 16px;
    color: #7a838b;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 400;
}

.popular_destination_area .single_destination {
	position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
}

.destImg img {
	filter: brightness(70%);
}

.popular_destination_area .single_destination:hover {
    transform: translateY(-10px);
    transition: .4s;
    cursor: pointer;
}

.popular_destination_area .single_destination .destImg {
	width: 100%;
    border-radius: 5px;
}

.popular_destination_area .single_destination .content {
	position: absolute;
    left: 30px;
    bottom: 30px;
}

.popular_destination_area .single_destination .content p {
	margin-bottom: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    font-family: rubik,sans-serif;
    transition: .4s
}

.popular_destination_area .single_destination .content p:hover {
    color: #ff4a52;
    transition: .4s
}

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .0;
    z-index: 50;
    display: none;
    cursor: pointer;
}

.box {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 392px;
    height: 470px;
    background-image: url(../img/girl.png);
    z-index: 51;
    padding: 10px;
    display: none;
}



.close {
    color: #ff4a52;
    font-weight: 600;
}

.close:hover {
    color: #ff4a52;
    cursor: pointer;
}

.lightbox {
    cursor: pointer;
}

.w300 {
    width: 300px;
}

.counter_wrap {
	margin-top: 100px;
}

.counter_wrap .single_counter {
	margin-bottom: 30px;
}

.counter_wrap .single_counter h3 {
	color: #ff4a52;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 17px;
}

.counter_wrap .single_counter p {
	color: #7a838b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 28px;
}

.map_area {
	margin-top: 140px;
}

.contact_area {
	margin-top: 80px;
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-info .media-body {
	margin-left: 20px;
}

.contact-info .media-body h3 {
	font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a;
}

.contact-info .media-body p {
	color: #8a8a8a;
}

.btnsubmit {
	margin-bottom: 80px;
}

.storyImg {
    margin-bottom: 20px;
}


                    /*FOOTER*/

.footer {
	background-color: #040D26;
	position: relative;
}

.footer .footer_top {
	padding-top: 115px;
    padding-bottom: 130px;
}

.footer .footer_top .footer_info .footer_logo {
    margin-bottom: 40px;
}

.footer .footer_top .footer_info p {
	font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #aab1b7;
}

.footer .footer_top .footer_info a {
	font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #aab1b7;
    transition: .5s;

}


.footer .footer_top .footer_info a:hover {
	color: #ff4a52;
	transition: .5s;
}

.footer .footer_top .footer_info .footer_title {
	font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 45px;
    font-family: rubik,sans-serif;
}

.footer .footer_top .footer_info ul li {
	color: #acacac;
    font-size: 14px;
    line-height: 36px;
}

.footer .copyright_text .copy_right {
	font-size: 14px;
    color: #7a838b;
    margin-bottom: 25px;
    font-weight: 400;
}